
.board {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eeb739;
}

.preview {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}